body{
    background-color: rgb(127, 50, 200);
    padding: 40px 0;  
}
main{
    background-color: rgb(128, 218, 108);
    outline-offset: -10px;
    outline: 60px rgb(127, 50, 200) dotted;
    padding: 90px 80px;
    border-radius: 30px;
    width: max-content;
    margin: auto;
}
h1{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0;
    margin: 0;
}
ol{
    list-style-position: inside;
    text-align: justify;
    font-family: cursive;
    padding: 90px ;
    width: max-content;
    margin: auto;
    font-size: x-large;
}
.Mýval, .Kůň, .dikdik{
    height: 140px;
}
.obrazky{
    margin: auto;
}